.container {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 60%;
}
.crd-header {
  padding-bottom: 1px;
}

.logo {
  background: #fff;
  width: 70%;
  margin: 0 auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  text-align: center;
}
.title-container {
  padding: 3%;
  display: flex;
  border-bottom: 1px solid #007871;
}
.icon-container {
  padding: 3%;
  background: #cce4e2;
  border-radius: 6px;
  ion-icon {
    height: 30px;
    width: 30px;
  }
}
.choose {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--ion-color-primary);
  font-family:Futurabook !important;
  font-size: 16px;
}
.custom-footer {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.card-content {
  height: 43vh;
  overflow-y: scroll;
}

.flag {
  padding-left: 10%;
  padding-right: 10%;
  width: 50%;
  float: left;
}

.flag-img {
  border: 1px solid rgba(221, 221, 221, 0.884);
  border-radius: 4px;
  padding-right: 2px;
  padding-left: 1px;
}

/* Solid border */
hr.solid {
  border-top: 1px solid #007871;
  margin-left: 8px;
  margin-right: 8px;
}

.btn {
  position: absolute;
  top: 39%;
  right: 61px;
  width: 47px;
  color: cadetblue;
  transform: translateY(-50%);
  background-color: #cce4e2;
}

.icon {
  position: absolute;
}

@media only screen and (min-width: 1500px) {
  .logo {
    width: 15vw;
  }
  .title-container {
    padding: 1%;
    font-size: 30px;
  }
  .choose,
  .custom-footer,
  b {
    font-size: 30px;
    
  }
  .flag {
    padding: 1%;
    width: 22vh;
    float: left;
  }
  .icon-container {
    padding: 1%;
    ion-icon{
      width: 60px;
      height: 60px;
    }
  }
}
