<ion-content>
  <div class="logo">
    <img src="assets/img/icon-home.png" alt="">
  </div>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <div class="title-container" routerLink="/home">
          <div class="icon-container">
            <ion-icon name="home-outline" color="primary"></ion-icon>
          </div>
          <div class="choose"><span>CHOOSE</span></div>
        </div>

      </ion-card-header>
      <ion-card-content>


        <div class="img-container" routerLink="/chauffeur-menu2">
          <ion-row>
            <ion-col size="4"><img src="assets/flags/eu.png" alt=""></ion-col>
            <ion-col size="4"></ion-col>
            <ion-col size="4"><img src="assets/flags/en.jpg" alt=""></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>CALAIS</b></ion-col>
            <ion-col>
              <ion-icon name="arrow-forward-outline" color="primary"></ion-icon>
            </ion-col>
            <ion-col><b>DOVER</b></ion-col>
          </ion-row>


        </div>
        <div class="img-container" routerLink="/chauffeur-menu">
          <ion-row>
            <ion-col><img src="assets/flags/en.jpg" alt=""></ion-col>
            <ion-col></ion-col>
            <ion-col><img src="assets/flags/eu.png" alt=""></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>DOVER</b></ion-col>
            <ion-col>
              <ion-icon name="arrow-forward-outline" color="primary"></ion-icon>
            </ion-col>
            <ion-col><b>CALAIS</b></ion-col>
          </ion-row>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
  <div class="custom-footer">

    <p>
      CopyRight: SPED-Boulogne Calais -Version 2019.12-17
    </p>
  </div>
</ion-content>
