<ion-content>
  <div class="logo">
    <img src="assets/img/icon-home.png" alt="">
  </div>
  <div class="container">
    <ion-card routerLink="/home">
      <ion-card-header>
        <div class="title-container">
          <div>
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <div style="width: 100%;"><span>Choose</span></div>
        </div>

      </ion-card-header>
      <ion-card-content>
       

        <div class="img-container">
          <div>

          </div>

          <ion-label><b>CHAUFFEURS</b></ion-label>
        </div>
        <div class="img-container">
          <div>

          </div>
          <ion-label><b> RDE / COMMIS</b></ion-label>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
  <div>
    <p class="custom-footer">
      CopyRight: SPED-Boulogne Calais -Varsion 2019.12-17
    </p>
  </div>
</ion-content>
