
<ion-content>
  <div class="logo">
    <img src="assets/img/icon-home.png" alt="">
  </div>
  <div class="container">
    <ion-card routerLink="/languages">
      <ion-card-header>
        <ion-label color="primary">
          <b> Bienvenu sur l'application<br>
            e-border Calis port</b>
        </ion-label>

      </ion-card-header>
      <ion-card-content>
        <span >VOUS ÊTES?</span>
        <div class="img-container">
          <div>
        
          </div>

          <ion-label><b>CHAUFFEURS</b></ion-label>
        </div>
        <div class="img-container">
          <div>
         
          </div>
          <ion-label><b> RDE / COMMIS</b></ion-label>
        </div>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar position="bottom" mode="ios" class="custom-footer">
   <b>CopyRight: SPED-Boulogne Calais -Varsion 2019.12-17</b> 
  </ion-toolbar>
</ion-footer>