<ion-content>
  <div class="logo">
    <img src="assets/img/icon-home.png" alt="">
  </div>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <div class="title-container" routerLink="/home">
          <div class="icon-container">
            <ion-icon name="home-outline" color="primary"></ion-icon>
          </div>
          <div class="choose"><span>CHOOSE</span></div>
        </div>

      </ion-card-header>
      <ion-card-content>
        

        <div class="img-container">
          <img src="assets/img/save-me.png" alt="">
          <div>
            <p><b>{{'create' | translate}}</b></p>
          </div>
        </div>
        <a href="https://customs.calais-port.fr/outil/" style="text-decoration:none;"> 
                      <div class="img-container">
          <img src="assets/img/flow.png" alt="">
          <div>
            <p><b>{{'organize' | translate}}</b></p>
          </div>
        </div>
      </a> 
        <div class="img-container">
          <img src="assets/img/badge.png" alt="">
          <div>
            <p><b>{{'badge' | translate}}</b></p>
          </div>
        </div>
      <a href="https://moa.douane.gouv.fr/enveloppe/en/enveloppe" style="text-decoration:none;">
        <div class="img-container">
          <img src="assets/img/doc.png" alt="">
          <div>
            <p><b>{{'envelop' | translate}}</b></p>
          </div>
        </div>
      </a>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="custom-footer">

    <p>
      CopyRight: SPED-Boulogne Calais -Version 2019.12-17
    </p>
  </div>
</ion-content>