<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/img/icon-home.png" alt="">
  </div>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-label color="primary">
          <b style="font-family:Futurabold !important;"> Bienvenu sur l'application
            e-border Calais port</b>
        </ion-label>

      </ion-card-header>
      <ion-card-content>
        <div class="title">
          <span style="font-family:Futurabook !important;">VOUS ÊTES?</span>
        </div>
        <div class="ipad-container">
          <div class="img-container"  routerLink="/languages">
            <div>
              <img src="assets/icon/truck.svg" class="list-img">
            </div>
  
            <ion-label><b style="font-family:Futurabold !important;">CHAUFFEURS</b></ion-label>
          </div>
          <div class="img-container"  routerLink="/rde-language">
            <div>
              <img src="assets/icon/gears.png" class="list-img2">
            </div>
            <ion-label><b style="font-family:Futurabold !important;"> RDE / COMMIS</b></ion-label>
          </div>
        </div>
      
      </ion-card-content>

    </ion-card>
  </div>
 
  <div class="custom-footer">

    <p>
      CopyRight: SPED-Boulogne Calais -Version 2019.12-17
    </p>
  </div>
</ion-content>
