.container {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.logo {
  background: #fff;
  width: 70%;
  margin: 0 auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  text-align: center;
}
.custom-footer {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.img-container {
  color: #007871;
  text-align: center;
  background: #cce4e2;
  margin: 10% 0;
  padding: 3%;
}
.list-img {
  width: 9vh;
  height: 9vh;
  filter: invert(34%) sepia(58%) saturate(464%) hue-rotate(119deg) brightness(107%) contrast(136%);
}
.list-img2 {
  width: 9vh;
  height: 9vh;
  filter: invert(3%) sepia(124%) saturate(398%) hue-rotate(119deg) brightness(87%) contrast(88%);
}
span {
  color: var(--ion-color-primary);
}

.title {
  padding-top: 2%;
  border-top: 1px solid #007871;
}

@media only screen and (min-width: 1500px) {
  .logo {
    width: 15vw;
  }
  .ipad-container {
    display: flex;
    padding-bottom: 6vh;
  }
  .img-container {
    width: 40%;
    margin: 0 auto;
  }
  .container {
    width: 50vw;
  }
  .custom-footer {
    font-size: 20px;
  }
  .title,
  b {
    font-size: 30px;
  }
  .list-img {
    width: 9vw;
    height: 4vw;
  }
}
