<ion-content [fullscreen]="true">

  <div class="container">
    <ion-card routerLink="/languages">
      <ion-card-header >
        <ion-label color="primary"><b> Bienvenu sur l'application<br> e-border Calis port</b>  </ion-label>
     
      </ion-card-header>
      <ion-card-content>
        <span>VOUS ÊTES?</span>
        <ion-item lines="none">
          <ion-label>CHAUFFEURS</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>RDE / COMMIS</ion-label>
        </ion-item>
      </ion-card-content>

    </ion-card>
  </div>
  <div class="copy-rght">
    CopyRight: SPED-Boulogne Calais -Varsion 2019.12-17
  </div>

</ion-content>