<ion-content>
  <div class="logo">
    <img src="assets/img/icon-home.png" alt="">
  </div>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <div class="title-container" routerLink="/home">
          <div class="icon-container">
            <ion-icon name="home-outline" color="primary"></ion-icon>
          </div>
          <div class="choose"><span>Choose</span></div>
        </div>

      </ion-card-header>
      <ion-card-content>
        <div class="img-container">
          <img src="assets/img/officer.png" alt="">
          <div>
            <p><b>{{'status' | translate}}</b></p>
          </div>
        </div>
        <div class="img-container">
          <img src="assets/img/save-me.png" alt="">
          <div>
            <p><b>{{'saveMe' | translate}}</b></p>
          </div>
        </div>
        <div class="img-container">
          <img src="assets/img/animal.png" alt="">
          <div>
            <p><b>{{'transport' | translate}}</b></p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="custom-footer">

    <p>
      CopyRight: SPED-Boulogne Calais -Version 2019.12-17
    </p>
  </div>
</ion-content>