<ion-content>
  <div class="logo">
    <img src="assets/img/icon-home.png" alt="">
  </div>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <div class="title-container" routerLink="/home">
          <div class="icon-container">
            <ion-icon name="home-outline" color="primary"></ion-icon>
          </div>
          <div class="choose"><span>CHOOSE</span></div>
        </div>

      </ion-card-header>
      <ion-card-content>
        <div class="browser-container">
          <a href="https://customs.calais-port.fr/" style="text-decoration:none;">
            <div class="img-container" >
              <img src="assets/img/officer.png" alt="">
              <div>
                <p><b style="font-family:Futurabold !important;">{{'status' | translate}}</b></p>
              </div>
            </div>
          </a>

          <a href="https://customs.calais-port.fr/o3/" style="text-decoration:none;">
            <div class="img-container">
              <img src="assets/img/save-me.png" alt="">
              <div>
                <p><b style="font-family:Futurabold !important;">{{'saveMe' | translate}}</b></p>
              </div>
            </div>
          </a>
          <a href="https://customs.calais-port.fr/o3/" style="text-decoration:none;">
            <div class="img-container">
              <img src="assets/img/animal.png" alt="">
              <div>
                <p><b style="font-family:Futurabold !important;">{{'transport' | translate}}</b></p>
              </div>
            </div>
          </a>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
  <div class="custom-footer">

    <p>
      CopyRight: SPED-Boulogne Calais -Version 2019.12-17
    </p>
  </div>
</ion-content>